.component.explorer {
  display: flex;
  flex-direction: row;

  .directory.expansion {
    width: 10%;

    .dir--empty {
      font-size: 1.2rem;
      padding: 10px 0;
      color: $info;
    }

    .dir--node {
      margin: 2px 0;
    }

    .dir--node.active {
      color: $primary;
    }
  }

  .directory--component, .directory--attachment {
    width: 100%;
  }

  .directory--component {
    overflow-y: auto;
  }

  .directory.tree {
    .q-tree__node--selected .q-tree__node-header-content {
      color: $primary;
    }
  }
}

.component.managunit {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 10px;

  .managunit--catalog {
    width: auto;
    margin-right: 10px;
    position: relative;
    overflow-y: auto;

    .catalog--expansion {
      position: absolute;
    }
  }

  .managunit--details {
    width: auto;
    margin-left: 10px;
  }

  .managunit--center {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .managunit--menubar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;

    button {
      min-width: 7rem;
      min-height: 2.5rem;
    }
  }

  .managunit--heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heading--title {
      font-size: 1.2rem;
      color: #333;
    }

    .heading--subtitle {
      font-size: 0.8rem;
      color: #555;
    }
  }

  .managunit--querier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    .querier--keyword {
      flex: 1;
    }

    .querier--splitter {
      margin: 0 10px;
    }

    button {
      min-width: 7rem;
      min-height: 2.5rem;
    }
  }

  .managunit--content {
    margin-top: 10px;
    flex: 1;
  }
}