.component.explorer {
  display: flex;
  flex-direction: row;

  .directory {
    width: 10%;
  }

  .directory--component, .directory--attachment {
    width: 100%;
  }

  .directory--component {
    overflow-y: auto;
  }
}

.component.managunit {

  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .menubar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;

    button {
      min-width: 7rem;
      min-height: 2.5rem;
    }
  }

  .querier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    .querier--keyword {
      flex: 1;
    }

    .querier--splitter {
      margin: 0 10px;
    }

    button {
      min-width: 7rem;
      min-height: 2.5rem;
    }
  }

  .content.table-classic {
    margin-top: 10px;
    flex: 1;
  }

  .sticky--header {
    thead tr th {
      position: sticky;
      z-index: 1;
    }

    thead tr:last-child th {
      top: 48px;
    }

    thead tr:first-child th {
      top: 0;
    }
  }

  .sticky--column {

  }

  .q-table__middle {
    position: relative;
  }

  .q-table__middle table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .content--actions {
    align-items: center;
    justify-content: center;

    > * {
      margin: 0 5px;
    }
  }

}