table.common-table {
  table-layout: fixed;
  border: 1px solid #CACACA;
  color: #808080;

  thead tr {
    background: #F2F4FB;
  }

  th {
    position: sticky;
    top: 0;
    background: #F2F4FB;
    font-weight: bold;
    color: #121212;
    z-index: 1;
  }

  td, th {
    padding: 5px 5px;
    border: 1px solid #CACACA;
  }

  th.index {
    width: 6rem;
  }

  th.index label {
    margin: 0;
  }

  th.check {
    width: 3rem;
  }

  .actions {
    text-align: center;
    color: #1e9fff;
    font-size: 12px;
  }

  .actions a {
    margin: 0 5px;
    cursor: pointer;
  }
}

.component.manageunit {
  .content {
    overflow: auto;
  }

  .cell\.chips .chip {
    font-size: 0.5rem;
    word-break: keep-all;
    color: #fff;
    border-radius: 1rem;
    padding: 2px 5px;
  }

  &.floated {
    .content {
      position: relative;
    }

    table {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.component.modal {
  .modal\.content.notice {
    padding: 2rem;
  }
}
