.component.modal {

  * {
    //border: 1px solid red;
  }

  .modal\.body {
    display: flex;
    flex-direction: column;
  }

  .modal\.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
  }

  .modal\.header\.icon {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal\.header\.icon .icon {
    width: 2rem;
    height: 2rem;
  }

  .modal\.header\.control {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.5rem;
  }

  .modal\.header\.control > .icon {
    width: 2rem;
    height: 2rem;
  }

  .modal\.header\.title {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
  }

  .modal\.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  .modal\.footer > button {
    height: 2.3rem;
    margin: 0 1rem;
    min-width: 7rem;
    letter-spacing: 1rem;
    padding-left: 1.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
  }
}