.component.modal {

  .modal--body {
    display: flex;
    flex-direction: column;
  }

  .modal--header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
  }

  .modal--content {
    flex: 1;
  }

  .header--icon {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header--icon .icon {
    width: 2rem;
    height: 2rem;
  }

  .header--control {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.5rem;
  }

  .header--control > button {
    width: 2rem;
    height: 2rem;
  }

  .header--control > button:not(:first-child) {
    margin-left: 0.5rem;
  }

  .header--title {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-size: 1.2rem;
  }

  .modal--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  .modal--footer > button {
    min-width: 8rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: 0;
    margin: 0 10px;
  }

  .dialog--progresser, .modal--footer .q-icon {
    margin-right: 5px;
  }
}