.component.table {
  position: relative;
  display: flex;
  flex-direction: column;

  .table--container {
    flex: 1;
    position: relative;
    user-select: none;
  }

  .table--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .table--pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .th--order {
    cursor: pointer;
    transform: rotate(-90deg);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    margin-left: 3px;
    font-size: 1.2rem;
    opacity: 0;
  }

  .th--order.asc {
    opacity: 0.6;
  }

  .th--order.dsc {
    opacity: 0.6;
    transform: rotate(90deg);
  }

  th .th--cell {
    font-size: 1rem;
  }

  th.sortable {
    cursor: pointer;
  }

  th.sortable:hover .th--order {
    opacity: 0.6;
  }
}